{{ $cssOpts := (dict "targetPath" "/css/kaakeli.css" ) }}
{{ if .Site.IsServer }}
  {{ $cssOpts = (dict "targetPath" "/css/kaakeli.css" "enableSourceMap" true ) }}
{{ end }}

{{ $bootstrap := resources.Get "/vendor/bootstrap/css/bootstrap.min.css" }}
{{ $fullcalendar := resources.Get "/vendor/fullcalendar-3.9.0/fullcalendar.min.css" }}
{{ $kaakeli  := resources.Get "/scss/kaakeli.scss" | resources.ExecuteAsTemplate "/scss/kaakeli.tmp.scss" . | toCSS $cssOpts | minify }}
{{ $bundle := slice $bootstrap $fullcalendar $kaakeli | resources.Concat "/css/bundle.css" }}

{{ if .Site.IsServer }}
<link rel="stylesheet" href="{{ $bundle.Permalink }}" media="screen">
{{ else }}
{{ $postCSSOpts := (dict "use" "autoprefixer" ) }}
{{ $bundle := $bundle | postCSS $postCSSOpts | fingerprint }}
<link rel="stylesheet" href="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}" media="screen">
{{ end }}

<!-- Custom css -->
{{ with .Site.Params.customSCSS }}
  {{ $cssOpts := (dict "targetPath" "/css/custom.css" ) }}
  {{ if $.Site.IsServer }}
    {{ $cssOpts = (dict "targetPath" "/css/custom.css" "enableSourceMap" true ) }}
  {{ end }}
  {{ $style := resources.Get .  | resources.ExecuteAsTemplate "/scss/custom.tmp.scss" . | toCSS $cssOpts | minify }}

  {{ if $.Site.IsServer }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">
  {{ else }}
    {{ $postCSSOpts := (dict "use" "autoprefixer" ) }}
    {{ $style := $style | postCSS $postCSSOpts | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
  {{ end }}
{{- end }}
