@font-face {
  font-family: quadraat-bold;
  src: url(#{$fontPath}/quadraat_web-bold/30E794_2_0.woff) format("woff");
}

@font-face {
  font-family: quadraat-regular;
  src: url(#{$fontPath}/quadraat_web-regular/30E794_0_0.woff) format("woff");
}

@font-face {
  font-family: din-regular;
  src: url(#{$fontPath}/din-regular/30E794_1_0.woff) format("woff");
}
