/*
Theme Name:   kaakeli
Theme URI:    https://gitlab.com/BK-Bund/kaakeli
Description:  A modular style for modern webpages
Author:       Ben Schumacher
Author URI:   https://gitlab.com/BenSchumacher-cjf
License:      Apache License
License URI:  https://www.apache.org/licenses/
Version:      1.1.2
*/

$fontPath: "/fonts";

@import "fonts.scss";

/***********************/
/******* GENERAL *******/
/***********************/

body {
  font-family: din-regular, verdana;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  {{ with .Site.Params.background.color  }} background-color: {{ . }}; {{ end }}
  {{ with .Site.Params.background.image  }} background-image: url({{ .  }}); {{ end }}
}

@media (max-width: 767px) {
  body {
    background: #ffffff;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: quadraat-regular;
  }
}

h1 {font-size: 50px;}
h2 {font-size: 36px;}
h3 {font-size: 30px;}
h4 {font-size: 24px;}
h5 {font-size: 18px;}
h6 {font-size: 12px;}

@media (max-width: 767px) {
  h1 {
    font-size: 39px;
  }
}

p {
  margin: 0 0 25px;
}

p.li-header {
  margin: 50px 0 0 0;
}

p.li-header strong {
  text-transform: uppercase;
  color: #000000;
}

ul.dash {
  list-style-type: none;
  padding-left: 0;
}

ul.dash li:before {
  content: "-";
}

a, a:hover, a:focus {
  color: #333333;
  text-decoration: none;
}

.table {
  font-size: 20px;
}

small.light {
  font-size: inherit;
  color: #999999;
}

.section-padding {
  padding-top: 75px;
}

.section-header {
  margin: 0 0 50px 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-padding {
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  .section-padding {
    padding-top: 25px;
  }
  .section-header {
    margin: 0 0 25px 0;
  }
}

.page-container {
  background: #ffffff;
  padding-bottom: 30px;
}

.display-block {
  display: block;
}

/********************/
/****** Padding *****/
/********************/
.nopadding {
  padding: 0 !important;
}

.nopadding-left {
  padding-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
}

.padding-only-top {
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.nomargin-top {
  margin-top: 0 !important;
}

.nomargin-bottom {
  margin-bottom: 0 !important;
}

@media (max-width: 767px) {
  .nomargin-mobile {
    margin: 0 !important;
  }
}

.bgimage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 50px;
}

@media (min-width: 1200px) {
  .fullpannel {
    margin-left: -10vw;
    margin-right: -10vw;
  }
}

/********************/
/******* Button *****/
/********************/
.btn-lg {
  font-family: quadraat-bold;
  font-size: 25px;
  line-height: 1;
  margin-top: 15px;
  letter-spacing: 0.4px;
  min-width: 300px;
}

@media (max-width: 767px) {
  .btn-lg {
    width: 100%;
    min-width: 0;
  }
}


/********************/
/******* Banner *****/
/********************/
img.banner {
  margin: 70px 0 50px 0;
}

@media (max-width: 767px) {
  img.banner {
    margin: 0;
    padding: 20px 20px 0 15px;
  }
}


/********************/
/******* Reiter *****/
/********************/
.reiter-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: inherit;
  float: left;
}

.reiter {
  padding-right: 5px;
  margin-right: 10px;
  width: auto;
  height: 30px;
  float: left;
  border-right: 6px solid transparent;
  border-bottom-width: 30px;
  border-bottom-style: solid;
}

.reiter > * {
  font-family: quadraat-bold;
  letter-spacing: 0.4px;
  font-size: 25px;
  display: block;
  padding: 5px 10px 0 10px !important;
  margin: 0;
}

.reiter-schwarz {
  background-image: url(./img/reiterschraege_HEX333333.png);
  color: #ffffff;
}

.reiter-schwarz > * {
  background-color: #333333;
  color: #ffffff;
}

.reiter-weis {
  border-bottom-color: #fff;
}

.reiter-weis > * {
  background-color: #ffffff;
}

.reiter-blau {
  border-bottom-color: #acbad5;
}

.reiter-blau > * {
  background-color: #acbad5;
}

.reiter-grau {
  border-bottom-color: #d9d9d9;
}

.reiter-grau > * {
  background-color: #d9d9d9;
  color: #333333 !important;
}

.reiter-gruen {
  border-bottom-color: #3ab200;
}

.reiter-gruen > * {
  background-color: #3ab200;
  color: #ffffff !important;
}

.reiter-dunkelgruen {
  border-bottom-color: #2b5235;
}

.reiter-dunkelgruen > * {
  background-color: #2b5235;
  color: #ffffff;
}

.reiter-wrapper .active {
  height: 32px;
  border-bottom-width: 32px;
}

.reiter-footer {
  height: 30px;
}


/********************/
/******* Navbar *****/
/********************/
.navbar-default {
  background-color: #ffffff;
  min-height: 27px;
  border: none;
}

button.navbar-toggle:hover {
  background-color: inherit;
}

button.navbar-toggle {
  border: none;
  background-color: transparent !important;
  padding-bottom: 0;
  margin-bottom: 0;
}

button.navbar-toggle.collapsed img {
  visibility: hidden;
}

button.navbar-toggle {
  border: none;
  background: transparent !important;
}

button.navbar-toggle .icon-bar {
  width: 26px;
  height: 3px;
  transition: all 0.2s;
  margin-left: 15px;
}

button.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

button.navbar-toggle .middle-bar {
  opacity: 0;
}

button.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

button.navbar-toggle.collapsed  .top-bar {
  transform: rotate(0);
}

button.navbar-toggle.collapsed  .middle-bar {
  opacity: 1;
}

button.navbar-toggle.collapsed  .bottom-bar {
  transform: rotate(0);
}

@media (max-width: 767px) {
  img.toogler {
    width: 50px;
    margin-top: 20px;
    background: #e1e1e1;
  }

  #navbar-collapse-1 {
    background-color: #e1e1e1;
    background-image: url(/img/00_MobNavi_Schatten-oben.png), url(/img/00_MobNavi_Schatten-unten.png);
    background-repeat: repeat-x;
    background-position: left top, left bottom;
    border: none;
    background-size: 100% 35px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-default .navbar-nav {
    padding: 10px 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-default .navbar-nav .reiter {
    height: auto;
    float: none;
    padding: 0;
    margin: 0;
    background: transparent;
    border-bottom: 1px dashed #333333;
  }

  .navbar-default .navbar-nav .reiter > * {
    font-family: quadraat-regular;
    letter-spacing: 0.4px;
    font-size: 23px;
    height: auto;
    display: block;
    padding: 15px 20px !important;
    margin: 0;
    color: #333333  !important;
    background: transparent;
  }

  .navbar-default .navbar-nav li:last-child {
    border-bottom: none;
  }

  .navbar-default .navbar-nav li.open {
    background-color: inherit;
  }

  /*.navbar-default *:hover, .navbar-default *:focus,*/
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.vcurrent-menu-item>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.current-menu-item>a {
    background-color: inherit;
  }

  .navbar-default .navbar-nav .open {
    border-bottom: none;
  }

  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  div.nav-container {
    padding-left: 0;
    padding-right: 0;
  }

  #navbar-collapse-1 {
    padding-left: 0;
    padding-right: 0;
  }
  #navbar-collapse-1 > .navbar-nav {
    margin-left: 0;
  }

  .navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
  }

  .navbar-default .navbar-nav .reiter {
    margin-bottom: 2px;
    background-size: 5px 30px;
  }

  .navbar-default .navbar-nav .dropdown-menu .reiter {
    margin-bottom: 10px;
  }

  .navbar-default .navbar-nav .dropdown-menu {
    background: transparent;
    border: none;
    box-shadow: none;
  }

  .navbar-default .navbar-nav>.reiter:hover,
  .navbar-default .navbar-nav li.current-menu-item,
  .navbar-default .navbar-nav li.current-page-ancestor {
    border-bottom: 32px solid #fff;
    margin-bottom: 0;
    height: 32px;
  }

  .navbar-default .navbar-nav>.reiter:hover>a,
  .navbar-default .navbar-nav li.current-menu-item>a,
  .navbar-default .navbar-nav li.current-page-ancestor>a {
    background-color: #ffffff;
    color: #000000 !important;
  }

  .navbar-default .navbar-nav>.current-menu-item>a:hover, .dropdown-menu>.current-menu-item>a:focus, .dropdown-menu>.current-menu-item>a:hover,
  .dropdown-menu>.current-page-ancestor>a {
    color: inherit;
  }
}


/********************/
/******* Home ******/
/********************/
.reiter-wrapper-home {
  margin-left: 27px;
}

.karten-container {
  padding: 0 15px 30px 15px;
}

.karten-wrapper {
  position: relative;
  background-color: #ffffff;
  padding: 41px 27px;
  height: 550px;
  overflow-y: hidden;
  clear: left;
}

.karten-wrapper-breit > .col-sm-6 {
  padding: 0;
}

@media (max-width: 767px) {
  .karten-wrapper-breit div:nth-child(2) {
    padding-top: 10px;
  }
}

.karten-wrapper-inner {
  margin: 0 15px;
  height: 100%;
  position: relative;
}

.karten-container .simcal-calendar {
  padding: 0;
}

ul.simcal-events {
  padding: 0;
  margin-left: 0px !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}

.simcal-default-calendar-list .simcal-event-details {
  font-size: 20px !important;
  line-height: 25px !important;
}

.btn-home {
  color: #fff;
  background-color: #333333;
  width: 100%;
  min-width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 767px) {
  .reiter-wrapper-home {
    margin-left: 0;
  }

  .reiter * {
    padding-left: 15px;
    padding-top: 6px;
  }

  .karten-container {
    padding: 0;
  }

  .karten-wrapper {
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .karten-wrapper-inner {
    height: auto;
    margin: 0;
    padding-bottom: 65px;
  }

  .karten-wrapper-inner-no-button {
    padding-bottom: 10px;
  }
}


/********************/
/******* Footer *****/
/********************/

$footerTextColor: {{ .Site.Params.footer.textColor | default "#ffffff" }};
$footerLinkColor: {{ .Site.Params.footer.linkColor | default "#ffffff" }};
$footerBackgroundColor: {{ .Site.Params.footer.backgroundColor | default "#000000" }};

.bs-docs-footer {
  padding: 50px 0;
  color: $footerTextColor;
  background-color: $footerBackgroundColor;
}

.bs-docs-footer a {
  text-decoration: underline;
  color: $footerLinkColor;
}

.bs-docs-footer small {
  display: block;
}

.reiter-container-footer {
  margin-top: 80px;
  position: relative;
  z-index: 10;
}

.reiter-container-footer .reiter-footer {
  border-bottom-color: $footerBackgroundColor;
}

.reiter-container-footer .reiter-footer > * {
  background-color: $footerBackgroundColor;
  color: $footerTextColor;
}

@media (max-width: 768px) {
  .reiter-container-footer {
    margin-top: -32px;
  }
}

.reiter-container-footer .reiter * {
  padding-left: 15px;
}

hr.fedi-dash {
  border-top: 1px dashed #333333;
  margin: 50px 0;
  border-top: 1px dashed $footerTextColor;
}

.bs-docs-footer .tab-pane {
  min-height: 400px;
}

.github-icon {
  float: left;
  height: 1em;
  margin-right: 5px;
}

button.datenschutz-toggle {
  background-color: transparent !important;
  border: none !important;
  min-width: 0;
  margin-top: 0;
  padding: 0;
}

button.datenschutz-toggle span.glyphicon-circle-arrow-down {
  display: inherit;
}

button.datenschutz-toggle span.glyphicon-circle-arrow-right {
  display: none;
}

button.datenschutz-toggle.collapsed span.glyphicon-circle-arrow-down {
  display: none;
}

button.datenschutz-toggle.collapsed span.glyphicon-circle-arrow-right {
  display: inherit;
}

.bs-docs-footer iframe {
  border: 0;
  width: 100%;
  height: 500px;
}

@media (min-width: 768px) {
  .bs-docs-footer iframe {
    height: 250px;
  }
}


/********************/
/****** Admidio *****/
/********************/

#plugin_login_form > h3 {
  display: none;
}

#plugin_login_form .btn {
  text-align: left;
}


/********************/
/***** Kalender *****/
/********************/

.ai1ec-calendar * {
  text-shadow: none !important;
}

.widget_ai1ec_agenda_widget * {
  text-shadow: none !important;
}

.ai1ec-agenda-widget-view {
  max-width: none !important;
}

.ai1ec-date:first-child {
  margin-top: 0 !important;
}

.ai1ec-agenda-widget-view .ai1ec-date {
  border: none !important;
  margin: 10px 0 !important;
}

.ai1ec-date-title {
  margin: 0 10px 0 0 !important;
  width: 57px !important;
  border: 1px solid #cccccc !important;
}

.ai1ec-date-title , .ai1ec-month {
  border-radius: 0 !important;
  background-image: none !important;
}

.ai1ec-date-title > * {
  font-size: 15px !important;
  font-weight: initial !important;
  color: #333333 !important;
}

.ai1ec-month {
  background: #cccccc !important;
  padding: 3px 0 2px 0 !important;
  letter-spacing: 0.1em !important;
  text-align: center !important;
}

.ai1ec-day {
  font-size: 35px !important;
  padding: 16px 0 9px !important;
}

.ai1ec-datepicker-days .ai1ec-day {
  font-size: 15px !important;
}

.ai1ec-week .ai1ec-day {
  padding: 0 !important;
}

.ai1ec-event > a {
  border: 0 !important;
  padding: 0 !important;
}

.ai1ec-date-events {
  font-size: 20px !important;
  line-height: 26px !important;
  margin: 0 !important;
}
.ai1ec-agenda-view .ai1ec-event {
  margin: 0 0 15px 0 !important;
}

.ai1ec-agenda-widget-view .ai1ec-date-events .ai1ec-event {
  margin: 0 0 7px 66px !important;
}

.ai1ec-clearfix {
  margin-bottom: 10px !important;
}

.ai1ec-main-container {
  margin-top: -6px;
}

.ai1ec-calendar-toolbar {
  display: none;
}

.ai1ec-title-buttons .ai1ec-btn-group {
  width: 100%;
  height: 64px;
  margin-left: auto !important;
  margin-right: auto;
  display: block;
  float: none !important;
}

.ai1ec-title-buttons .ai1ec-btn-group * {
  font-family: quadraat-regular;
}

.ai1ec-title-buttons .ai1ec-btn-group i, .ai1ec-fa i {
  font-family: Timely_FontAwesome;
}

.ai1ec-pagination > .ai1ec-btn {
  height: 100%;
  width: 15%;
  text-transform: none !important;
  font-size: 25px !important;
  border: none !important;
}

.ai1ec-minical-trigger {
  width: 40% !important;
  padding: 8px 0 !important;
}

.ai1ec-prev-page, .ai1ec-next-page {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ai1ec-prev-page *, .ai1ec-next-page * {
  max-width: 100% !important;
}

.ai1ec-prev-month, .ai1ec-next-month {
  padding: 12px 0 !important;
}
.ai1ec-prev-year,.ai1ec-next-year {
  padding: 15px 0 !important;
}

.ai1ec-calendar-title, .ai1ec-calendar-title-short {
  font-size: 50px !important;
  font-weight: normal !important;
}

.ai1ec-views-dropdown {
  z-index: 1;
}

.ai1ec-views-dropdown {
  display: none !important;
}

.ai1ec-minical-trigger i {
  display: none !important;
}

#ai1ec-calendar-view > div.ai1ec-pull-left > div {
  display: none !important;
}

.ai1ec-month-view .ai1ec-date {
  background: transparent !important;
  margin-top: 5px !important;
}

.ai1ec-month-view .ai1ec-today, .ai1ec-week-view .ai1ec-today {
  background: #d5dcea !important
}

.ai1ec-month-view .ai1ec-day *{
  font-size: 14px !important;
}

.ai1ec-month-view .ai1ec-day .ai1ec-event-container .ai1ec-event {
  margin-top: 0px;
  height: auto !important;
  line-height: 14px !important;
}

.ai1ec-subscribe-container {
  margin-top: 10px !important;
}

@media (max-width: 767px) {
  .ai1ec-agenda-widget-view .ai1ec-date {
    background: transparent !important;
  }

  .ai1ec-agenda-widget-view .ai1ec-date-title {
    border: 1px solid #666666 !important;
    background: #FFFFFF !important;
  }

  .ai1ec-agenda-widget-view .ai1ec-month {
    background: #666666 !important;
    color: #FFFFFF !important;
  }
  .ai1ec-agenda-widget-view .ai1ec-event > a {
    background: transparent !important;
  }
  .ai1ec-allday-badge {
    background: #666666 !important;
    color: #FFFFFF !important;
  }
  .ai1ec-popover {
    visibility: hidden;
  }
}

/********************/
/***** Kalender *****/
/*****  Agenda  *****/
/********************/

.ai1ec-agenda-buttons div:nth-child(1), .ai1ec-agenda-buttons div:nth-child(2)  {
  display: none !important;
}

.ai1ec-agenda-view .ai1ec-date {
  border: none !important;
}

.ai1ec-agenda-view .ai1ec-date .ai1ec-date-events * {
  border: none !important;
  box-shadow: none !important;
}

.ai1ec-agenda-view .ai1ec-event {
  padding: 0 !important;
}

.ai1ec-agenda-view .ai1ec-event-toggle {
  display: none !important;
}

.ai1ec-agenda-view .ai1ec-event-header .ai1ec-event-title, .ai1ec-agenda-view .ai1ec-event-header .ai1ec-event-location, .ai1ec-agenda-view .ai1ec-event-header .ai1ec-event-time {
  font-size: 20px !important;
}

.ai1ec-agenda-view .ai1ec-event-time {
  opacity: 1 !important;
  font-weight: normal !important;
}

.ai1ec-agenda-view .ai1ec-event-summary * {
  font-size: 15px !important;
}

.ai1ec-agenda-view .ai1ec-date {
  margin: 30px 0 !important;
}

.ai1ec-allday-badge {
  font-size: 14px !important;
  margin: 0 0 4px !important;
  background: #cccccc !important;
  color: #333333 !important;
}

@media (max-width: 767px) {
  .ai1ec-calendar-title, .ai1ec-calendar-title-short {
    font-size: 25px !important;
    font-family: quadraat-bold !important;
  }

  .ai1ec-minical-trigger {
    width: 70% !important;
  }
}


/********************/
/***** Kalender *****/
/*****  Event   *****/
/********************/

.ai1ec-event-footer {
  display: none !important;
}


/********************/
/***** Carousel *****/
/********************/

.carousel-fade .carousel-inner .item  {
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner  .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}
