<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ block "head" . }}
    {{ partial "head/metadata.html" . }}
    {{ partial "head/openGraph.html" . }}
    {{ partial "head/favicons.html" . }}
    {{ partial "head/css.html" . }}
    {{ end }}

    <!-- Include page specific css -->
    {{ block "customCSS" . }}
    {{ end }}
  </head>
  <body>
    {{ block "header" . }}
    {{ partial "header.html" . }}
    {{ partial "navigation.html" . }}
    {{ end }}

    {{ block "main" . }}
    {{ end }}

    {{ block "footer" . }}
    {{ partial "footer/reiter.html" .}}
    {{ partial "footer/box.html" . }}
    {{ end }}

    {{ block "js-include" . }}
    {{ partial "footer/scripts.html" . }}
    {{ end }}

    <!-- Include page specific scritps -->
    {{ block "customScripts" . }}
    {{ end }}
  </body>
</html>
