{{ with .Site.GetPage "/footer" }}
<footer class="bs-docs-footer">
  <div class="tab-content">
    {{ range $i, $elem := sort (.Resources.ByType "page") "Params.weight" }}
    <div role="tabpanel" class="tab-pane {{if eq $i 0}}active{{end}}" id="{{ $elem.Title | lower }}">
      <div class="container">
        {{ .Content }}
        {{ if eq $i 0 }}
        <hr class="featurette-divider fedi-dash">
        <div class="row">
          <div class="col-md-9">
            {{ with $.Site.Params.gitHub.repository }}
            {{ $logo := "/img/footer/GitHub-Mark-32px.png" }}
            {{ if $.Site.Params.gitHub.whiteLogo }}
              {{ $logo = "/img/footer/GitHub-Mark-Light-32px.png"}}
            {{ end }}
            <a target="_blank" href="{{ . }}">
            <img src="{{ $logo | absURL }}" class="img-responsive github-icon" alt="GitHub-Icon" />
            </a>
            {{ with $.Site.Params.gitHub.version }}
            {{ . }}
            {{ end }}
            <br>
            {{ end }}
            Made with <a target="_blank" href="https://gitlab.com/BK-Bund/kaakeli">kaakeli</a> Version 2.0.1
          </div>
        </div>
        {{ if $.Site.Params.footer.dataProtectionText }}
        <hr class="featurette-divider fedi-dash">
        <div class="row">
          <div class="col-xs-10 col-sm-9">
            <a data-toggle="collapse" href="#datenschutz-collape" aria-expanded="false" aria-controls="datenschutz-collape">
              <h3 class="nomargin-top">Datenschutz&shy;bestimmungen</h3>
            </a>
          </div>
          <div class="col-xs-2 col-sm-3">
            <div class="pull-right">
              <button class="btn btn-default btn-lg datenschutz-toggle collapsed" type="button" data-toggle="collapse" data-target="#datenschutz-collape" aria-expanded="false" aria-controls="datenschutz-collape">
                <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="collapse" id="datenschutz-collape">
          <div class="row">
            <div class="col-md-9">
              <h3>Datenschutz</h3>
              <p>
                Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.<br>
                Die Nutzung unserer Website ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.<br>
                Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
              </p>
              {{ if $.Site.Params.matomo.enable }}
              <h3>Analysedienste</h3>
              <p>
                Diese Website benutzt den Open Source Webanalysedienst Matomo. Matomo verwendet so genannte „Cookies“. Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Dazu werden die durch den Cookie erzeugten Informationen über die Benutzung dieser Website auf unserem Server gespeichert. Die IP-Adresse wird vor der Speicherung anonymisiert.<br>
                Die durch den Cookie erzeugten Informationen über die Benutzung dieser Website werden nicht an Dritte weitergegeben. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.<br>
                Wenn Sie mit der Speicherung und Nutzung Ihrer Daten nicht einverstanden sind, können Sie die Speicherung und Nutzung hier deaktivieren. In diesem Fall wird in Ihrem Browser ein Opt-Out-Cookie hinterlegt, der verhindert, dass Matomo Nutzungsdaten speichert. Wenn Sie Ihre Cookies löschen, hat dies zur Folge, dass auch das Matomo Opt-Out-Cookie gelöscht wird. Das Opt-Out muss bei einem erneuten Besuch unserer Seite wieder aktiviert werden.
              </p>
              <strong>Widerspruch</strong>
              <iframe src="{{ $.Site.Params.matomo.url }}/index.php?module=CoreAdminHome&action=optOut&idsite={{ $.Site.Params.matomo.siteID }}&language=de"></iframe>
              <small><ins><a target="_blank" href="https://www.e-recht24.de/">Quelle</a><ins></small>
              {{ end }}
              <h3>Recht auf Auskunft, Löschung, Sperrung</h3>
              <p>
                Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen
                Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf
                Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema
                personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an
                uns wenden.
              </p>
            </div>
          </div>
        </div>

        {{ end }}
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</footer>
{{ end }}
