 {{ with .Site.GetPage "/footer" }}
<div class="container nopadding reiter-container-footer">
  <ul class="reiter-wrapper">
    {{ range $i, $elem := sort (.Resources.ByType "page") "Params.weight" }}
    <li role="presentation" class="reiter reiter-footer {{if eq $i 0}}active{{end}}">
      <a href="#{{ $elem.Title | lower }}" aria-controls="{{ $elem.Title | lower }}" role="tab" data-toggle="tab">{{ $elem.Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
