<div class="container nopadding">
    <a href="{{ "/" | absURL }}" title="Home">
      {{ if .Site.Params.header.logo }}
        {{ if .Site.Params.header.logoMobile }}
          <img src="{{ .Site.Params.header.logoMobile | absURL }}" class="img-responsive visible-xs banner" alt="header logo mobile">
          <img src="{{ .Site.Params.header.logo | absURL }}" class="img-responsive hidden-xs banner" alt="header logo">
        {{ else }}
          <img src="{{ .Site.Params.header.logo | absURL }}" class="img-responsive banner" alt="Header Logo">
        {{ end }}
      {{ else }}
      {{ end }}
  </a>
</div>
