{{ if .Site.Menus.main }}
<nav class="navbar navbar-default">
  <div class="container nav-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
        <img class="img-responsive toogler" src="/img/00_MobNavi_Pfeil-oben.png" alt="Pfeil">
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul id="navbar-collapse-1-menu" class="nav navbar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="reiter reiter-{{ $.Site.Params.reiter.color }} {{ if $currentPage.IsMenuCurrent "main" . }}current-menu-item{{ end }}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </div>
  </div>
</nav>
{{ end }}
