{{ define "header" }}
  {{ partial "header.html" . }}
  <div class="visible-xs">
    {{ partial "navigation.html" . }}
  </div>
{{ end }}

{{ define "main" }}
  {{ .Content }}
{{ end }}

{{ define "footer" }}
  <div class="footer-home">
    {{ partial "footer/reiter.html" .}}
    {{ partial "footer/box.html" . }}
  </div>
{{ end }}
