{{ if .Get "id" }}
<div id="{{ .Get "id" }}" class="carousel slide carousel-fade" data-ride="{{ .Get "id" }}">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {{ .Inner }}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#{{ .Get "id" }}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#{{ .Get "id" }}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{{ else }}
{{ errorf "missing value for parameter 'id': %s" .Position }}
{{ end }}
